
h1 {
  color: maroon;
  text-align: center;
}
body {
    background-color: #777;
    width: 960px;
}

p {
    font-size: 18px;
    font-family: Arial;
    color: #ebebeb;
}

.section {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
